@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form #subject {
  height: 11vh;
}

input[type="text"],
select,
textarea {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 3px;
  margin-bottom: 8px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #924836;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #000000;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gallery__item {
  width: 25%;
  padding: 0.5rem;
}

.gallery__item a, .gallery__item iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.gallery__item img, .gallery__item iframe {
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.5;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.gallery__item img:hover, .gallery__item iframe:hover {
  opacity: 1;
}

.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .gallery__item {
    width: 50%;
  }
  .gallery__item a {
    height: 180px;
  }
}

@media only screen and (max-width: 480px) {
  .gallery__item {
    width: 100%;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  border-radius: 0px 0px 50px 50px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #4d494d;
}

.navigation a:hover {
  background: #924836;
  color: #000000;
  border-radius: 15px;
  color: white;
}

/* ..............MEDIA/RESPONSIVE.............. */
@media all and (max-width: 480px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  .main {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 0;
  }
  .main__wrapper {
    background: transparent;
  }
  .contact__details,
  .social__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer ul {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media all and (max-width: 1200px) {
  .main__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__details,
  .social__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(/images/bodyback.jpg) center center no-repeat;
  height: 100%;
  background-size: auto;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  color: #4d494d;
}

/* ..............CONTAINER............ */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 50px 50px 0px 0px;
  min-height: 100vh;
  margin: 2rem 0 2rem 0;
}

.container,
footer,
.navigation,
aside,
.main__content {
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 3px solid rgba(255, 255, 255, 0.31);
}

/* ..............WRAPPER.............. */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  margin: 2rem 0;
  width: 100%;
}

.wrapper .main {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.wrapper .main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.wrapper .hero {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper > * {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.welcomeHead {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ..............PORTRAIT.............. */
.portrait {
  height: 300px;
  background: #ffffff;
  border-radius: 150px 75px 175px 15px;
}

.imageHolder {
  display: inline-block;
}

.contact__details-item,
.social__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
}

.contact__details-item .icon,
.social__details-item .icon {
  width: 28px;
  margin-right: 0.3rem;
  color: #924836;
}

.contact__details-item a,
.social__details-item a {
  text-decoration: none;
  color: #4d494d;
}

.contact__details-item a:visited,
.social__details-item a:visited {
  color: #4d494d;
}

h1 {
  color: #924836;
  padding-top: 2rem;
  font-size: 35px;
}

/* ..............ASIDE................ */
aside,
.main__content {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

.container {
  background: rgba(255, 255, 255, 0.65);
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* ..............MAIN................. */
.main {
  text-align: center;
  margin: 1rem;
}

.main p {
  font-size: 19px;
  margin: 1.5rem;
}

.main__content {
  width: 100%;
}

h2,
.h3_title {
  color: #924836;
  margin-top: 1rem;
}

.ulexp_list li,
.uledu_list li,
.skills {
  padding: 1rem;
  text-align: left;
  margin: 2rem;
}

.skills {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.progress-bar {
  margin-bottom: 1rem;
}

.progress-bar__wrapper {
  background: lightgray;
  width: 300px;
  height: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.progress-bar__fill {
  background: teal;
  height: 100%;
  border-radius: 10px;
}

.progress-bar:first-child .progress-bar__fill {
  width: 65%;
}

.progress-bar:nth-child(2) .progress-bar__fill {
  width: 45%;
}

.progress-bar:nth-child(3) .progress-bar__fill {
  width: 15%;
}

.progress-bar:last-child .progress-bar__fill {
  width: 10%;
}
/*# sourceMappingURL=styles.css.map */