* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(/images/bodyback.jpg) center center no-repeat;
  height: 100%;
  background-size: auto;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  color: $light-grey;
}

/* ..............CONTAINER............ */

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 50px 50px 0px 0px;
  min-height: 100vh;
  margin: 2rem 0 2rem 0;
}
.container,
footer,
.navigation,
aside,
.main__content {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 3px solid rgba(255, 255, 255, 0.31);
}

/* ..............WRAPPER.............. */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 2rem 0;
  width: 100%;

  .main { // .wrapper .main {}
    align-self: stretch;
    
    &__wrapper { // .main__wrapper {}
      display: flex;
      height: 100%;
    }
  }
  .hero { // .wrapper .hero {}
    align-self: center;
  }
  > * { // .wrapper > *
    padding: 10px;
    flex: 1 100%;
  }
}

.welcomeHead {
  justify-content: center;
}

/* ..............PORTRAIT.............. */
.portrait {
  height: 300px;
  background: #ffffff;
  border-radius: 150px 75px 175px 15px;

}
.imageHolder {
  display: inline-block;
}

.contact__details-item,
.social__details-item {
  display: flex;
  margin-top: 28px;
  & .icon {
    width: 28px;
    margin-right: 0.3rem;
    color: $orange-brown;
  }
  & a {
    text-decoration: none;
    color: $light-grey;
    &:visited {
      color: $light-grey;
    }
  }
}
h1 {
  color: $orange-brown;
  padding-top: 2rem;
  font-size: 35px;
}
// ********91 iki95***********
/* ..............ASIDE................ */
aside,
.main__content {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}
.container {
  background: rgba(255, 255, 255, 0.65);
}
aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* ..............FOOTER............... */
footer {
  bottom: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.65);
}
.footer {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  & h4 {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $light-grey;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  & li {
    margin-bottom: 0.5rem;
    list-style: none;
    & a {
      color: $light-grey;
      text-decoration: none;
      &:hover {
        color: $orange-brown;
      }
      &:visited {
        color: $light-grey;
      }
    }
  }
  
}

.footer ul li a:hover {
  color: #924836;
}


/* ..............MAIN................. */
.main {
  text-align: center;
  margin: 1rem;
  & p {
    font-size: 19px;
    margin: 1.5rem;
  }
}
.main__content {
  width: 100%;
}
h2,
.h3_title {
  color: #924836;
  margin-top: 1rem;
}

.ulexp_list li,
.uledu_list li,
.skills {
  padding: 1rem;
  text-align: left;
  margin: 2rem;
}